{
  "extends": ["eslint:recommended"],
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
  "rules": {
    "no-console": 0,
    "quotes": ["warn", "single"],
    "require-jsdoc": "off"
  }
}
