[
  {
    "test": ".*.js$",
    "module": {
      "type": "commonjs"
    }
  },
  {
    "test": ".*.js$",
    "module": {
      "type": "amd"
    }
  },
  {
    "test": ".*.js$",
    "module": {
      "type": "umd"
    }
  }
]
